body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    width: 20rem;
    background-color:rgb(117, 10, 10);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
    font-size: 25px;
}